gdown
colorama
faiss-cpu
func-timeout
torch
transformers
datasets
tqdm
evaluate
scikit-learn
accelerate
bitsandbytes
protobuf
sentencepiece
pandas
wandb

# Additional requirements for training
bm25s
einops
peft